<div class='tab-pane active' id='patient-tab'>

    <form>
        <div class="form-group row">
            <label class="col-sm-2" for="id">Patient Id:</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" v-model="patient.id" id="id">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="dateOfBirth">Date of Birth:</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" v-model="patient.formattedDateOfBirth" id="dateOfBirth">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="gender">Gender:</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" v-model="patient.gender" id="gender">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="cancers">Episodes:</label>
            <div class="col-sm-4">
                <select class="form-control" id="cancers">
                    <option v-for="cancer in patient.cancers" v-bind:value="cancer.id">
                        {{ cancer.cancerType }}
                    </option>
                </select>
            </div>
        </div>

        <button class="btn btn-default" type="reset">Reset</button>
        <button class="btn btn-primary" type="button">Update</button>
    </form>

</div>