<div class='tab-pane panel-body' id='cancer-tab'>
	<h3>Episodes</h3>
	<form>
		<div class="form-group row">
			<label class="col-sm-2" for="cancers">Episode:</label>
			<div class="col-sm-4">
				<select class="form-control" name="cancers" v-model="selected">
					<option v-for="cancer in patient.cancers" v-bind:value="cancer">
						{{ cancer.cancerType }}</option>
				</select>
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2" for="id">Episode Id:</label>
			<div class="col-sm-4">
				<input class="form-control" type="text" v-model="selected.id" name="id">
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2" for="cancerType">Episode Type:</label>
			<div class="col-sm-4">
				<input class="form-control" type="text" v-model="selected.cancerType" name="cancerType">
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2" for="dateDiagnosed">Date Diagnosed:</label>
			<div class="col-sm-4">
				<input class="form-control" type="text" v-model="selected.dateDiagnosed" name="dateDiagnosed">
			</div>
		</div>
	</form>
</div>