<div class='tab-pane panel-body active' id='patient-tab'>
    <form>
        <div class="form-group">
            <label for="dateOfBirth">Date of Birth</label> 
            <input type="date" class="form-control" id="dateOfBirth">
        </div>
        <div class="form-group">
            <label for="nationality">Nationality</label>
            <input type="text" class="form-control" id="nationality" placeholder="Nationality">
        </div>
        <div class="form-group">
            <label for="gender">Gender</label> 
            <input type="text" id="gender" placeholder="Gender">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>